@font-face {
    font-family: k_b;
    src:
        url(../fonts/KalamehWeb-Bold.eot),
        url(../fonts/KalamehWeb-Bold.woff),
        url(../fonts/KalamehWeb-Bold.woff2);
}
@font-face {
    font-family: k_thin;
    src:
        url(../fonts/KalamehWeb-Thin.eot),
        url(../fonts/KalamehWeb-Thin.woff),
        url(../fonts/KalamehWeb-Thin.woff2);
}
@font-face {
    font-family: k_m;
    src:
        url(../fonts/KalamehWeb-Medium.eot),
        url(../fonts/KalamehWeb-Medium.woff),
        url(../fonts/KalamehWeb-Medium.woff2);
}

