@import url(./style.css);

@media screen and (max-width:768px) {
    .container {
        display: none;
    }

    .mobile-container {
        overflow: hidden;
    }

    .mobile-header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 30px 40px 0px 40px;
        align-items: center;
        height: 100px;
    }

    .mobile-header i {
        color: var(--FOREGROUND);
        font-size: 27px;
    }

    .mobile-header button {
        font-family: kalameh-medium;
        color: var(--GREEN);
        background-color: transparent;
        border: 0px;
        font-size: medium;
    }

    .mobile-body h1 {
        font-family: kalameh-bold;
        color: var(--FOREGROUND);
        line-height: 150%;
        font-size: 28px;
    }

    .mobile-body h5 {
        color: var(--FOREGROUND);
        font-family: kalameh-medium;
        font-size: 18px;
    }

    .mobile-body p {
        color: var(--FOREGROUND);
        font-family: kalameh-thin;
        font-size: 15px;
        line-height: 20px;
    }

    .mobile-body {
        padding: 0px 40px;
    }

    .mobile-box p {
        color: var(--FOREGROUND);
        font-family: kalameh-thin;
        font-size: 15px;
        line-height: 20px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .mobile-box {
        margin-top: 40px;
        border-top: 1px solid rgba(255, 255, 255, 0.242);
        border-bottom: 1px solid rgba(255, 255, 255, 0.242);
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .mobile-box img {
        margin-left: 5px;
    }

    .mobile-sponser {
        width: 100%;
    }

    .mobile-sponser img {
        width: 100%;
    }

    .mobile-path-container {
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .mobile-path-container-child {
        height: 700px;
        width: 421px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    .mobile-path-container p {
        font-family: kalameh-thin;
        color: var(--FOREGROUND);
        position: absolute;
        cursor: pointer;
    }

    .mobile-path-title {
        font-family: kalameh-medium !important;
        right: 5px;
        top: 40px;
    }

    .mobile-path-1 {
        left: 90px;
        top: 154px;
    }

    .mobile-path-2 {
        top: 217px;
        left: 248px;
    }

    .mobile-path-3 {
        top: 286px;
        left: 12px;
    }

    .mobile-path-4 {
        top: 351px;
        right: 97px;
    }

    .mobile-path-5 {
        top: 414px;
        left: 44px;
    }

    .mobile-path-6 {
        top: 484px;
        right: 118px;
    }

    .left-line-path {
        position: absolute;
        top: 484px;
        left: 0px;
    }

    .right-line-path {
        position: absolute;
        top: 640px;
        right: 0px;
    }

    .mobile-path-submit {
        cursor: pointer;
        width: 156px;
        height: 45.54px;
        font-family: kalameh-medium;
        font-size: small;
        background-color: var(--GREEN);
        border-radius: 7px 20px 7px 20px;
        border: 0px;
        box-shadow: 1px 1px 14px 1px var(--GREEN);
        position: absolute;
        bottom: 70px;
    }
    .mobile-information-container,.mobile-gallery-container,.mobile-team-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .mobile-information-title-container,.mobile-gallery-title-container,.mobile-team-title-container {
        width: 421px;
    }
    .mobile-information-title,.mobile-gallery-title,.mobile-team-title {
        font-family: kalameh-medium;
        color: var(--FOREGROUND);
        padding-right: 5px;
    }
    .mobile-information-container .col-1,.mobile-information-container .col-2 {
        z-index: 1000;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .mobile-information-container .col-1 .child,.mobile-information-container .col-2 .child-1 {
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 250px;
        border-radius:7px ;
        border: 1px solid var(--FOREGROUND);
        background-color: #FFFFFF1C;
        width: 30%;
        justify-content: center;
        margin: 5px;
        font-family: kalameh-medium;
        color: var(--FOREGROUND);
    }
    .mobile-information-container .col-1 .child .more-info,.mobile-information-container .col-2 .child-1 .more-info {
        font-family: kalameh-medium;
        color: var(--FOREGROUND);
        border: 2px solid var(--FOREGROUND); 
        background-color: transparent;
        width: 100px;
        border-radius: 6px;

    }

    .mobile-information-container .col-2 .child-2 {
        height: 250px;
        border-radius:7px ;
        border: 1px solid var(--FOREGROUND);
        background-color: #FFFFFF1C;
        width: 62%;
        justify-content: center;
        margin: 5px;
        font-family: kalameh-thin;
        color: var(--FOREGROUND);
        padding:0px 20px;
    }
    .mobile-information-container .col-2 .child-2 h4 {
        margin-top: 17px;
        font-family: kalameh-medium !important;
    }
    .mobile-information-container .col-2 .child-2 span {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: end;
    }

    .mobile-information-container .col-2 .child-2 .submit-info {
        font-family: kalameh-medium;

        color: var(--FOREGROUND);
        border: 2px solid var(--FOREGROUND); 
        background-color: transparent;
        width: 100px;
        border-radius: 6px;
    }

    .mobile-gallery-container .gallery-col {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .mobile-gallery-container .gallery-col .gallery-child {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .mobile-gallery-container .gallery-col .gallery-child img {
        width: 250px;
    }
    .mobile-team-row-1,.mobile-team-row-2 {
        display: flex;
        justify-content: space-between;
        width: 500px;
    }
    .mobile-team-child {
        width: 47%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .mobile-team-child img{
        width: 100%;
    }
    .mobile-team-child h3,.mobile-team-child p{
        font-family:kalameh-medium;
        color: var(--FOREGROUND);
    }
    .social-networks{
        width: 70%;
        align-items: center;
        justify-content: space-around;
        display: flex;
    }
    .social-networks i {
        color: var(--FOREGROUND);
        font-size: xx-large !important;
    }
    .communication-bridge-container{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .communication-bridge-child {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
    }
    .communication-bridge-child p {
        margin-left: 5px;
        color: var(--FOREGROUND);
        font-family: Arial, Helvetica, sans-serif;
    }
    .footer {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family:kalameh-medium;
        color: var(--FOREGROUND);
    }
}