@import url(../icons/css/font-awesome.min.css);

:root {
    --BACKGROUND: #131417;
    --FOREGROUND: #FFFFFF;
    --GREEN: #47CF73;
}

* {
    box-sizing: border-box;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

body {
    direction: rtl;
    margin: 0px;
    background-color: var(--BACKGROUND);
}

.container {
    display: flex;
    align-items: start;
    justify-content: center;
    width: 100%;
}

.container-col-1 {
    width: 10%;
    display: flex;
    align-items: start;
    justify-content: center;
    height: 100vh;
}

.container-col-1 img {
    width: 40%;
    margin-top: 32px;
}

.container-col-2 {
    width: 90%;
    border-right: 1px solid rgba(255, 255, 255, 0.288);
}

header {
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: fit-content;
}

.header-col-1 {
    width: 80%;
    height: 100%;
}

.header-col-1 ul {
    list-style-type: none;
    padding: 0px;
    margin-right: 60px;
}

.header-col-1 li {
    display: inline-block;
    width: fit-content;
    padding: 10px 20px;
    border-bottom: 1px solid var(--BACKGROUND);
    transition: all 0.2s;
}

.header-col-1 li:hover {
    border-bottom: 1px solid var(--GREEN);
}

.header-col-1 li a {
    font-family: kalameh-medium;
    color: var(--FOREGROUND);
}

.header-col-2 {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-col-2 button {
    cursor: pointer;
    width: 156px;
    height: 45.54px;
    font-family: kalameh-medium;
    font-size: small;
    background-color: var(--GREEN);
    border-radius: 7px 20px 7px 20px;
    border: 0px;
    box-shadow: 1px 1px 14px 1px var(--GREEN);
}

.content-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0px 50px 50px 50px;
}

.content-container-col-1 {
    width: 50%;
    padding: 0px 40px;
}

.content-container-col-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    position: relative;
}

.content-container-col-2 .banner {
    width: 300px;
}

.content-container-col-2 .code {
    width: 300px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    margin-bottom: -40px;
}

.content-container-col-2 .c {
    width: 80px;
    position: absolute;
    right: 0px;
    margin-right: -30px;
    bottom: 50px;
}

.content-container-col-1 h1 {
    font-family: kalameh-bold;
    color: var(--FOREGROUND);
    line-height: 70px;
    font-size: 40px;
}

.content-container-col-1 h5 {
    color: var(--FOREGROUND);
    font-family: kalameh-medium;
    font-size: 18px;
}

.content-container-col-1 p {
    color: var(--FOREGROUND);
    font-family: kalameh-thin;
    font-size: 15px;
    line-height: 20px;
}

.submit {
    cursor: pointer;
    width: 156px;
    height: 45.54px;
    background-color: transparent;
    color: var(--FOREGROUND);
    border: 1px solid var(--GREEN);
    border-radius: 0px 20px 0px 20px;
    font-family: kalameh-medium;
    font-size: small;
    box-shadow: 1px 1px 16px 1px #47cf721e;
}

.watch {
    cursor: pointer;
    font-size: small;
    width: fit-content;
    border: 0px;
    height: 28px;
    margin-right: 10px;
    background-color: transparent;
    color: var(--FOREGROUND);
    font-family: kalameh-medium;
}

.watch i {
    color: var(--BACKGROUND);
    background-color: var(--GREEN);
    padding: 10px;
    border-radius: 100%;
}

.box {
    margin-top: 40px;
    border-top: 1px solid rgba(255, 255, 255, 0.242);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.box p {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.box img {
    margin-left: 5px;
}

.sponser-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.path-box {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.path-container-child {
    width: 1200px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.path-container {
    width: 100%;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sponser-contaner img {
    width: 100%;
}

.path-container img {
    width: 1200px;
}

.path-container p {
    font-family: kalameh-thin;
    color: var(--FOREGROUND);
    position: absolute;
    cursor: pointer;
}

.path-title {
    font-family: kalameh-medium !important;
    right: 40px;
    top: 40px;
}

.path-1 {
    left: 0px;
    top: 170px;
}

.path-2 {
    top: 180px;
    left: 310px;
}

.path-3 {
    top: 380px;
    left: -20px;
}

.path-4 {
    top: 270px;
    right: 120px;
}

.path-5 {
    top: 525px;
    left: 140px;
}

.path-6 {
    top: 485px;
    right: -40px;
}

.information {
    width: 1200px;
}

.information-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.gallery-container,
.team-container,
.contact-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery-container-child,
.team-container-child {
    width: 1200px;
    padding: 20px 60px;
}

.contact-container-child {
    width: 1200px;
}

.gallery-container-child div,
.team-container-child div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.gallery-container-child span :first-child {
    width: 100%;
}

.gallery-container-child span {
    position: relative;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;
}

.gallery-container-child span :last-child {
    position: absolute;
    opacity: 0;
    width: 0px;
    transition: all 0.2s;
    cursor: pointer;
}

.gallery-container-child span .back-d {
    width: 100%;
    height: 100%;
    transition: all 0.2s;
    background-color: rgba(0, 0, 0, 0.626);
    opacity: 0;
    position: absolute;
}

.gallery-container-child span:hover .back-d {
    opacity: 1;
}

.gallery-container-child span:hover .plus {
    opacity: 1;
    width: 40px;
}


.team-container-child>div>span {
    width: 250px;
    margin: 10px;
    transition: all 0.2s;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.team-container-child>div>span>img {
    width: 100%;
}

.team-container-child>div>span>span {
    position: absolute;
    color: var(--FOREGROUND);
    opacity: 0;
    transition: all 0.2s;

}

.team-container-child>div>span>.sp-child-1 {
    top: 110px;
    font-size: x-large !important;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.team-container-child>div>span>.sp-child-1 i {
    cursor: pointer;
}

.team-container-child>div>span>.sp-child-2 {
    font-family: kalameh-thin;
    line-height: 10px;
    text-align: center;
    font-size: 18px;
    bottom: 20px;
}

.team-container-child>div>span>.sp-child-2 :first-child {
    font-family: kalameh-medium !important;
    font-size: 24px !important;

}

.team-container-child .back-d {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.457);
    opacity: 0;
    transition: all 0.2s;
}

.team-container-child>div>span:hover .back-d {
    opacity: 1;
}

.team-container-child>div>span:hover span {

    opacity: 1;
}

.gallery-title,
.team-title,
.contact-title {
    font-family: kalameh-medium;
    font-size: 32;
    color: var(--FOREGROUND);
    margin-bottom: 50px;
}

.contact-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: kalameh-thin;
    color: var(--FOREGROUND);
}

.contact-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 450px;
    height: 70px;
    margin: 0px 20px;
    border-radius: 7px;
    border: 1px solid rgba(255, 255, 255, 0.242);
    transition: all 0.2s;
}

.contact-item:hover {
    border: 1px solid var(--GREEN);
    background-color: var(--GREEN);
    color: var(--FOREGROUND);
}

.contact-item .icon {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: large !important;
}


.contact-item .key {
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-right: 10px;
}

.contact-item .value {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-left: 10px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 60px 0px;
    color: var(--FOREGROUND);
    font-family: kalameh-medium;
}

.background {
    position: absolute;
    width: 800px;
    left: 0px;
    top: 0px;
    z-index: -10;
}

@media screen and (min-width: 768px) {
    .m-c {
        display: none;
    }
}

@media screen and (max-width:768px) {


    .m-c {
        overflow: hidden;
    }

    .mh i {
        color: var(--FOREGROUND);
        font-size: 27px;
    }

    .container {
        display: none;
    }

    .mh {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 30px 40px 0px 40px;
        align-items: center;
        height: 100px;
    }

    .mh button {
        font-family: kalameh-medium;
        color: var(--GREEN);
        background-color: transparent;
        border: 0px;
        font-size: medium;
    }

    .mb h1 {
        font-family: kalameh-bold;
        color: var(--FOREGROUND);
        line-height: 150%;
        font-size: 28px;
    }

    .mb {
        padding: 0px 40px;
    }

    .mbo p {
        color: var(--FOREGROUND);
        font-family: kalameh-thin;
        font-size: 15px;
        line-height: 20px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .mbo {
        margin-top: 40px;
        border-top: 1px solid rgba(255, 255, 255, 0.242);
        border-bottom: 1px solid rgba(255, 255, 255, 0.242);
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .mbo img {
        margin-left: 5px;
    }

    .mobile-sponser {
        width: 100%;
    }

    .mobile-sponser img {
        width: 100%;
    }

    .mpco {
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .mpcoch {
        height: 690px;
        width: 426px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    .mpco p {
        font-family: kalameh-thin;
        color: var(--FOREGROUND);
        position: absolute;
        cursor: pointer;
    }

    .mpt {
        font-family: kalameh-medium !important;
        right: 5px;
        top: 40px;
    }

    .mp1 {
        left: 90px;
        top: 154px;
    }

    .mp2 {
        top: 217px;
        left: 248px;
    }

    .mb h5 {
        color: var(--FOREGROUND);
        font-family: kalameh-medium;
        font-size: 18px;
    }

    .mb p {
        color: var(--FOREGROUND);
        font-family: kalameh-thin;
        font-size: 15px;
        line-height: 20px;
    }

    .mp3 {
        top: 286px;
        left: 12px;
    }

    .mp4 {
        top: 351px;
        right: 97px;
    }

    .mp5 {
        top: 414px;
        left: 44px;
    }

    .mp6 {
        top: 484px;
        right: 118px;
    }

    .mpsu {
        cursor: pointer;
        width: 156px;
        height: 45.54px;
        font-family: kalameh-medium;
        font-size: small;
        background-color: var(--GREEN);
        border-radius: 7px 20px 7px 20px;
        border: 0px;
        box-shadow: 1px 1px 14px 1px var(--GREEN);
        position: absolute;
        bottom: 70px;
    }

    .mico,
    .mgco,
    .mtco {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .mico .col-1,
    .mico .col-2 {
        z-index: 1000;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .mico .col-1 .child,
    .mico .col-2 .child-1 {
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 250px;
        border-radius: 7px;
        border: 1px solid var(--FOREGROUND);
        background-color: #FFFFFF1C;
        width: 30%;
        justify-content: center;
        margin: 5px;
        font-family: kalameh-medium;
        color: var(--FOREGROUND);
    }

    .mico .col-1 .child .more-info,
    .mico .col-2 .child-1 .more-info {
        font-family: kalameh-medium;
        color: var(--FOREGROUND);
        border: 2px solid var(--FOREGROUND);
        background-color: transparent;
        width: 100px;
        border-radius: 6px;

    }

    .sn {
        width: 70%;
        align-items: center;
        justify-content: space-around;
        display: flex;
    }

    .sn i {
        color: var(--FOREGROUND);
        font-size: x-large !important;
    }

    .mitco,
    .mgtco,
    .mttco {
        width: 421px;
    }

    .mit,
    .mgt,
    .mtt {
        font-family: kalameh-medium;
        color: var(--FOREGROUND);
        padding-right: 5px;
    }

    .mico .col-2 .child-2 {
        height: 250px;
        border-radius: 7px;
        border: 1px solid var(--FOREGROUND);
        background-color: #FFFFFF1C;
        width: 62%;
        justify-content: center;
        margin: 5px;
        font-family: kalameh-thin;
        color: var(--FOREGROUND);
        padding: 0px 20px;
    }

    .mico .col-2 .child-2 h4 {
        margin-top: 17px;
        font-family: kalameh-medium !important;
    }

    .mico .col-2 .child-2 span {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: end;
    }

    .mico .col-2 .child-2 .submit-info {
        font-family: kalameh-medium;

        color: var(--FOREGROUND);
        border: 2px solid var(--FOREGROUND);
        background-color: transparent;
        width: 100px;
        border-radius: 6px;
    }

    .mtr1,
    .mtr2 {
        display: flex;
        justify-content: space-between;
        width: 500px;
    }

    .mtch {
        width: 44%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .mtch img {
        width: 100%;
    }

    .mgco .gallery-col {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .mgco .gallery-col .gch {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .mgco .gallery-col .gch img {
        width: 220px;
    }

    .mtch h3{
        font-family: kalameh-medium;
        color: var(--FOREGROUND);
    }


    .mtch p {
        font-family: kalameh-thin;
        color: var(--FOREGROUND);
    }

    .cbco {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .cbch {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
    }

    .cbch p {
        margin-left: 5px;
        color: var(--FOREGROUND);
        font-family: sans-serif;
    }

    .footer {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: sans-serif;
        color: var(--FOREGROUND);
    }
}