* {
    box-sizing: border-box;
    text-decoration: none;
}

body {
    margin: 0px;
    background-color: #131417;
}

.content-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0px 50px 50px 50px;
}

.mpc img {
    width: 1200px;
}

.mpc p {
    font-family: k_thin;
    color: white;
    position: absolute;
}

.content-container-col-1 {
    width: 50%;
    padding: 0px 40px;
}

.content-container-col-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    position: relative;
}

.content-container-col-2 .banner {
    width: 300px;
}

.content-container-col-2 .code {
    width: 300px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    margin-bottom: -40px;
}

.content-container-col-2 .c {
    width: 80px;
    position: absolute;
    right: 0px;
    margin-right: -30px;
    bottom: 50px;
}

.content-container-col-1 h1 {
    font-family: k_b;
    color: white;
    line-height: 70px;
    font-size: 40px;
}

.content-container-col-1 h5 {
    color: white;
    font-family: k_m;
    font-size: 18px;
}

.content-container-col-1 p {
    color: white;
    font-family: k_thin;
    font-size: 15px;
    line-height: 20px;
}

.sign-up {
    width: 156px;
    height: 45.54px;
    background-color: transparent;
    color: white;
    border: 1px solid #47CF73;
    border-radius: 0px 20px 0px 20px;
    font-family: k_m;
    font-size: small;
    box-shadow: 1px 1px 16px 1px #47cf721e;
}

.video {
    font-size: small;
    width: fit-content;
    border: 0px;
    height: 28px;
    margin-right: 10px;
    background-color: transparent;
    color: white;
    font-family: k_m;
}

.video i {
    color: #131417;
    background-color: #47CF73;
    padding: 10px;
    border-radius: 100%;
}

.box {
    margin-top: 40px;
    border-top: 1px solid rgba(255, 255, 255, 0.242);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.box p {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.box img {
    margin-left: 5px;
}

.sponser-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.p_box {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.mpc_ch {
    width: 1200px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


.container {
    display: flex;
    align-items: start;
    justify-content: center;
    width: 100%;
}

.container-col-1 {
    width: 10%;
    display: flex;
    align-items: start;
    justify-content: center;
    height: 100vh;
}

.container-col-1 img {
    width: 40%;
    margin-top: 32px;
}

.container-col-2 {
    width: 90%;
    border-right: 1px solid rgba(255, 255, 255, 0.288);
}

header {
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: fit-content;
}

.header-col-1 {
    width: 80%;
    height: 100%;
}

.header-col-1 ul {
    list-style-type: none;
    padding: 0px;
    margin-right: 60px;
}

.header-col-1 li {
    display: inline-block;
    width: fit-content;
    padding: 10px 20px;
}

.header-col-1 li a {
    font-family: k_m;
    color: white;
}

.header-col-2 {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-col-2 button {
    width: 156px;
    height: 45.54px;
    font-family: k_m;
    font-size: small;
    background-color: #47CF73;
    border-radius: 7px 20px 7px 20px;
    border: 0px;
    box-shadow: 1px 1px 14px 1px #47CF73;
}

.mpc {
    width: 100%;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sponser-contaner img {
    width: 100%;
}


.p_t {
    font-family: k_m !important;
    right: 40px;
    top: 40px;
}


.c_i .i {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large !important;
}


.c_i .k {
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-right: 10px;
}

.p_a {
    left: 0px;
    top: 170px;
}

.p_b {
    top: 180px;
    left: 310px;
}

.p_c {
    top: 380px;
    left: -20px;
}

.p_d {
    top: 270px;
    right: 120px;
}

.p_e {
    top: 525px;
    left: 140px;
}

.p_f {
    top: 485px;
    right: -40px;
}

.information {
    width: 1200px;
}

.information-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.mgc,
.mtc,
.mcc {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mgc_ch,
.mtc_ch {
    width: 1200px;
    padding: 20px 60px;
}

.mcc_ch {
    width: 1200px;
}

.mgc_ch div,
.mtc_ch div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}


.mgc_ch img {
    position: relative;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;
}


.mtc_ch>div>img {
    width: 250px;
    margin: 10px;
    transition: all 0.2s;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.g_t,
.t_t,
.c_t {
    font-family: k_m;
    font-size: 32;
    color: white;
    margin-bottom: 50px;
}

.c_b {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: k_thin;
    color: white;
}

.c_i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 450px;
    height: 70px;
    margin: 0px 20px;
    border-radius: 7px;
    border: 1px solid rgba(255, 255, 255, 0.242);
    transition: all 0.2s;
}

.c_i .v {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-left: 10px;
}

.line {
    position: absolute;
    width: 800px;
    left: 0px;
    top: 0px;
    z-index: -10;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 60px 0px;
    color: white;
    font-family: k_m;
}